
.teste {
    height: 22em;
}

.testeP {
    font-size: 18px;
}

.testeH2 {
    font-size: 32px;
}

.button {
    background-color: #15283b;
    color:  white;
    border-radius: 100px 100px 100px 100px;
    padding: 12px 40px 12px 40px;
    text-decoration: none;
    box-shadow: none;
    width: max-content;
}

.span {
    color: #15283b;
    font-size: 52px;
}

.spanText {
    font-size: 24px;
}

.divider {
    height: 1px;
    background-color: #ccc;
    width: 90%;
    margin: 20px auto;
  }

.recomendation{
    /* Comment border: outset rgb(11, 240, 41); */
    background-color: #15283b;
    padding: 20px;
    width: 35em;
}

.recomendation p{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    font-style: italic;
}


.estrelas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.estrelas i {
    margin-right: 0.75em;
    color: #f0ad4e;
    font-size: 1em;
}

.borda {
    border: outset #f33;
}

.cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.nome {
    color: #15283b;
    margin: 0;
}

.cargo {
    color: #409fda;
    margin: 0;
}

.imagem img{
    border-radius: 50%;
}

.informacoes {
    margin-left: 1em;
}

.botao {
    font-size: 2em;
    color: #15283b;
}

.cards {
    margin-right: 5em;
}

.cardsCustomizacao h3 {
    font-size: 30px;
}

.cardsCustomizacao p {
    text-align: justify;
    font-size: 16px;
}

.cardsCustomizacao i{
    color: #0496f1;
    font-size: 50px;
}

.accordion-button.collapsed {
    background-color: #15283b;
    color: white;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed){
    background-color: #15283b;
    color: white;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}